<header>
    <h1>אוצר מילים</h1>
</header>
    <main>
        <div>
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                <select name="fromLanguage" formControlName="fromLanguage">
                    <option value="iw"> עיברית </option>
                    <option value="en"> English </option>
                </select>
                <select name="toLanguage" formControlName="toLanguage">
                    <option value="iw"> עיברית </option>
                    <option value="en"> English </option>
                </select><br>
                <label>:בחר מילה לתרגום</label>
                <input type="text" formControlName="inputWord"><br>
                <input type="submit" value="תרגם">
                <p>{{translateWord}}</p>
            </form>
            <div class="glyphicon glyphicon-arrow-right"></div>  
        </div>
        <a routerLink= "select">חזור לבחירת משחק</a>
    </main>
