*{
    margin: 0px;
    padding: 0px;
    font-family: 'Arial';
    display: block;
}
main{
    background-color: #0c0a3e;
}
p{
    font-size: 30px;
}

div{
    margin:auto;
    width: 900px;
    padding: 80px;
    text-align: right;
}

label{
    margin:10px;
    display: inline;
    color: white;
    font-size:15px;
}

input{
    color: black;
}

header{
    background-color: #fabd35;
    height: 100px;
    color: #0c0a3e;
    padding: 20px;
}
h1{
    text-align: center;
    font-weight: bold;
    font-size: 70px;
}