<div id="wrapper">
        <img src="assets/welcome.png"/>
        <p> 
            ברוך הבא, <span> PerWord </span> הינה אפליקציה אשר <br>
            אוספת את המילים שאתה עושה בהם שימוש <br>
            ברשת ומתרגמת אותם לשפות שונות. מטרת <br>
            האפליקציה היא ללמד אותך רק את המילים <br>
            שבהם אתה משתמש בשפת האם שלך. <br>
        </p>
        <img id="Hl" src="assets/goodLuck.png"/>
        <a routerLink="vocabulary"> 
            <button id="cont">המשך</button>
        </a>
</div>





