<header>
    <h1>כתיבת מילים</h1>
</header>
<main onload="getTrivia">
    <section id=nikud> נקודות  
        <p>{{point}}</p>
    </section> <br> 
    <section id=que_num> מספר שאלה 
        <p>{{count}}</p>
    </section>
    <article id="word">{{transWord}}</article> <br>
    <nav id="mainDiv">
        <div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div>
    </nav>
    <div class="clear"></div>
    <button (click)="nextQeu()"> לשאלה הבאה </button>
    <button id="back"(click)="goBack()"> חזור לבחירת משחק </button>
        <div class="clear"></div>


</main>

