<header>
    <h1>כתיבת מילים</h1>
</header>
    <main>
        <div id="mainDiv">
            <section id=nikud> נקודות  

            </section> <br> 
            <section id=que_num> מספר שאלה

            </section>
        <nav id="selectLetter">
            <article id="word">{{word}}</article> <br>
            <div></div><div></div><div></div><div></div>
            <div></div><div></div><div></div><div></div>
            <div></div><div></div><div></div><div></div>
        </nav>
        <button id="back"(click)="goBack()"> חזור לבחירת משחק </button>
        <div class="clear"></div>
        </div>
    </main>