<header>
    <h1>כתיבת מילים</h1>
</header>
<main onload="getTrivia">
    <section id=nikud> נקודות  
        <p>{{point}}</p>
    </section> <br> 
    <section id=que_num> מספר שאלה 
        <p>{{count}}</p>
    </section>
    <article id="word">{{word}}</article> <br>
    <nav id="mainDiv">
        <div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div>
    </nav>
    <p id="hint"></p>
    <p id="res"></p>
    <button (click)="nextQeu()"> לשאלה הבאה </button>
    <button (click)="getHint(word,options)"> רמז </button>
    <button id="back"(click)="goBack()"> חזור לבחירת משחק </button>
        <div class="clear"></div>

</main>

