*{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    display: block;
    background-color: #0c0a3e;
    direction: rtl;
}
#wrapper{
    margin: 0px;
    padding-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    display: block;
    height: 100%;
}
main{

}
img{
    display: block;
    margin: auto;
    padding: 70px;
}
p{
  color: #60d9e9;
  font-size: 32pt;
  text-align: center;
}
#cont{
  width: 545px;
  height: 63px;
  font-size: 30px;
  margin: auto;
  background-color: #ec2079;
  text-align: center;
  color: white;
  font-weight: bold;
  border:0;
}
span{
  color: #ec2079;
  display: inline;
  font-weight: bold;
}