@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: #961b51;
}

img{
  margin: auto;
  display: block;
}

h1{
  margin: 30px;
}

h1,h3,p{
  font-weight: bold;
  text-align: center;
  color: #66b745;
}

body{
  font-family: 'Open Sans', sans-serif;
  background-image: url('/images/words.png');

}

#container{
    margin: auto;
    background-color: rgba(0,0,0,0.85);
}


