*{
    margin: 0px;
    padding: 0px;
    font-family: 'Arial';
    display: block;
    direction: rtl;
}
main{
    background-color: #0c0a3e;
}
p{
    font-size: 30px;
}
div{
    padding: 80px;
    width: 800px;
    margin:auto;
}
label{
    color: white;
    font-size:15px;
    font-weight: bold;
}
input{
    color: black;
}
header{
    background-color: #fabd35;
    height: 100px;
    color: #0c0a3e;
    padding: 20px;
}
h1{
    text-align: center;
    font-weight: bold;
    font-size: 70px;
}
button{
    font-size:20px;
    margin:30px;
    padding: 10px;
    background-color: #ec2079;  
    border: 0;
    color: white;
    font-weight: bold;
    float: right;
    width: 200px;
}
