@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    display: block;

}
header{
  background-color: #fabd35;
  height: 100px;
  color: #0c0a3e;
  font-size: 35px;
}
main{
  background-color: #0c0a3e;
  height: 600px;
}
article {
  margin: 0 auto;

  position: relative;
  top: 180px;
}
article a{
    color: #60d9e9;
    font-size: 50px;
}
main section{
  color:#fabd35;
  border-bottom: solid #66b745 3px;
  font-size: 30px;
  width: 180px;
  float: right;
  margin-top: 40px;
  padding: 10px;
}
#nikud{
   text-align: left;
}
#que_num{
   text-align: right;
   float: left;
}
a{
    text-decoration: none;
}

h1,h6,h2{
  font-weight: bold;
  text-align: center;
}

body{
  
}

#container{
    margin: auto;
    width: 80%;
    background-color: rgba(0,0,0,0.1);
}
header h1{
  text-align: center;
}

#txtHint{
      color: #60d9e9;
    font-size: 50px;
    border: 2px white;

}