@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    display: block;

}
header{
  background-color: #fabd35;
  height: 100px;
  color: #0c0a3e;
  font-size: 35px;
}
main{
  background-color: #0c0a3e;
  padding: 30px;
}
main div{
  margin:120px;
}
img{
  display: block;
  margin: auto;
  margin-bottom: 30px;
}

#Hl{
  margin-bottom: 100px;
  margin-top: 100px;
}

#cont{
  width: 545px;
  height: 63px;
  font-size: 30px;
  margin: auto;
  background-color: #fabd35;
  text-align: center;
  color: black;
}

article {
  margin: 0 auto;

  position: relative;
  top: 180px;
}
article a{
    color: #60d9e9;
    font-size: 50px;
}
main section{
  color:#fabd35;
  border-bottom: solid #66b745 3px;
  font-size: 30px;
  width: 180px;
  float: right;
  margin-top: 40px;
  padding: 10px;
}
#nikud{
   text-align: left;
}
#que_num{
   text-align: right;
   float: left;
}
a{
    text-decoration: none;
}

select{
  width: 400px;
  margin: auto;
}
h1,h6,h2{
  font-weight: bold;
  text-align: center;
}

main p , ul, li{
  color: #60d9e9;
  font-family: alef regular;
  font-size: 32pt;
  text-align: center;

}

body{
  direction: rtl;
}

#container{
    margin: auto;
    width: 100%%;
}
header h1{
  text-align: center;
}
#result{
  color:red;
}
#options,#tranlateW{
    font-size: 50px;
    color: white;
    border: 2px white;
    height: 400px;
}